@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
body{
  background: pink;
  color: red;
}

$breakpoints : (xs : 0, sm : 768px, md : 992px, lg : 1200px );
$cant-column : (xs : 2, sm : 2, md : 3, lg : 5 );

@mixin column($media, $min-width, $count:1){
  @each $name, $count in $cant-column {
    @if $media == $name {
      @media (min-width:$min-width){
        column-count:$count;
      }
    }
  }
}

.boards{
  &__item{
    margin-bottom: 50px;
    img{
      border-radius: 10px;
    }
  }
  @each $name, $width in $breakpoints {
    @include column($name, $width);
  }
}
